.Toast {
  border-radius: var(--border-radius);
  background: var(--info);
  color: var(--fg);
  position: relative;
  display: flex;
  flex-direction: row;
  width: 400px;
  max-width: calc(100vw - 2 * var(--sp-3));
  margin: var(--sp-3);
  box-shadow: var(--box-shadow);
  font-weight: bold;

  animation-name: ToastBounceIn;
  animation-duration: 8000ms;
  animation-timing-function: cubic-bezier(0.41, 1.7, 0.45, 0.85);

  &.Toast--permanent {
    animation-name: ToastBounceInStay;
  }
  &.Toast--success {
    background: var(--success);
  }
  &.Toast--error {
    background: var(--error);
  }
}

@keyframes ToastBounceIn {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  5% {
    transform: translateX(0%);
    opacity: 1;
  }
  95% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

@keyframes ToastBounceInStay {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  5% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.Toast__message {
  padding: var(--sp-3) var(--sp-4);
  flex-grow: 1;
}

.Toast__close {
  padding: 0 var(--sp-2);
}
