:root {
  --fg: #eee;
  --fg-alt: #eee;
  --bg: #222228;
  --bg-alt: #444;
  --accent: #704267;
  --accent: #f1bde4;
  // --accent-2: #f1bde4;
  // --accent-2: #704267;
  // --accent-2: #b35d9d;
  // --accent-2: #f206c8;

  --bg-2: var(--fg);
  --bg-2-alt: var(--fg-alt);
  --fg-2: var(--bg);
  --fg-2-alt: var(--bg-alt);

  --error: #e74c3c;
  --success: #2ecc71;
  --info: #2980b9;

  --font-heading: "Great Vibes", "Georgia", serif;
  --font-heading-2: "Noto Serif Display", "Georgia", serif;
  --font-text: "Noto Serif", "Georgia", serif;
  --font-mono: "Courier", monospace;

  --border-radius: 3px;
  --border-color: #aaa;

  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

  --sp: 4px;
  --sp-1: var(--sp); // 4
  --sp-2: calc(var(--sp) * 2); // 8
  --sp-3: calc(var(--sp) * 4); // 16
  --sp-4: calc(var(--sp) * 8); // 32
  --sp-5: calc(var(--sp) * 16); // 64
  --sp-6: calc(var(--sp) * 32); // 128
  --sp-7: calc(var(--sp) * 64); // 256
  --sp-8: calc(var(--sp) * 128); // 512

  --z-bg: 0;
  --z-fg: 10;
  --z-rsvp: 20;
  --z-toasts: 30;

  --break-md: 768px;
  --break-lg: 992px;
  --break-xl: 1200px;
}
