.section {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  margin: var(--sp-5);
  padding: var(--sp-3);
  text-align: center;
}

.theme-1 {
  background: var(--bg);
  color: var(--fg);
}

.theme-2 {
  background: var(--bg-2);
  color: var(--fg-2);
}
