.theme-1 {
  background: var(--bg);
  color: var(--fg);
}

.theme-2 {
  background: var(--bg-2);
  color: var(--fg-2);
}

.theme-3 {
  background: var(--accent);
  color: var(--fg-2);
}

.theme-4 {
  background: var(--accent);
  color: var(--fg);
}
