:root {
  --fg: #eee;
  --bg: #222228;
  --font-text: "Georgia", serif;
  --font-heading: "Arial", sans-serif;
  --font-title: "Arial", sans-serif;
  --font-heading: "Great Vibes";
  /* --font-heading: "Allura"; */
  /* --font-heading: "Satisfy"; */
  /* --font-heading: "Yellowtail"; */
  /* --font-heading: "Style Script"; */
  /* --font-heading: "Lobster"; */
  /* --font-heading: "Dancing Script"; */
  /* --font-heading: "Elsie"; */
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}
