.RsvpForm {
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: left 0.4s ease-in-out;
  font-size: 1.125rem;
  overflow: auto;
  z-index: var(--z-rsvp);

  background: var(--bg-2);
  color: var(--fg-2);
  &.is-visible {
    left: 0;
  }

  &.is-submitted {
    left: 100vw;
  }

  hr {
    margin: var(--sp-4) auto;
    width: 50%;
    opacity: 0.5;
  }
}

.RsvpForm__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: var(--sp-4);
}

.RsvpForm__description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--sp-4);
  font-style: italic;

  p {
    margin-bottom: var(--sp-4);
  }
}

.RsvpForm__inner {
  max-width: 500px;
  padding: var(--sp-3);
  margin: var(--sp-4) auto;
}

.RsvpForm__closeButton {
  position: absolute;
  top: var(--sp-2);
  right: var(--sp-2);
}
