.Location__directions {
  width: 1000px;
  max-width: 100%;
  text-align: center;
  margin: var(--sp-3) auto var(--sp-5);

  @media (min-width: 1000px) {
    margin: var(--sp-5) auto;
  }
}

.Location__directionsText,
.Location__map {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  max-width: 100%;
  vertical-align: middle;
}

.Location__directionsText {
  padding: var(--sp-2) var(--sp-4) var(--sp-5);
}

.Location__address {
  margin: calc(var(--sp-4) + var(--sp-2)) auto;
  font-size: 2.2rem;
  font-style: normal;
  line-height: 1.4;

  @media (min-width: 1000px) {
    font-size: 2.5rem;
  }
}

.Location__parking {
  padding: var(--sp-5) 0;
  width: 800px;
  max-width: 100%;
}

.Location__parkingDescription {
  margin: var(--sp-4) auto var(--sp-5);
}

.Location__parkingMap {
}
