.Divider {
  margin: var(--sp-2) auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Divider__img {
  width: 420px;
  max-width: 100%;
  padding: 0 var(--sp-2);
}

.Divider__img_half {
  width: 210px;
}
