.Gifts {
  background-color: var(--accent);
  color: var(--accent-alt);
  min-height: 60vh;
}

.Gifts__inner {
  width: 600px;
  max-width: 100%;
}

.Gifts__cta {
  margin: var(--sp-5) auto;
}

.Gifts__text {
  font-size: 2rem;
}
