.Program {
  min-height: 0;
  padding-top: var(--sp-4);

  @media (min-width: 1000px) {
    padding-top: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.Program__inner {
  width: 600px;
  margin: 0 auto;
  max-width: 100%;
}

.Program__tagline {
  font-style: italic;
  margin: var(--sp-4) auto var(--sp-5);
}

.Program__timeline {
  width: 500px;
  max-width: 100%;
  margin: var(--sp-5) auto;
}

.Program__timelineItem {
  display: flex;
  align-items: center;
  margin: var(--sp-4) auto;
}

.Program__timelineTime {
  width: 100px;
  text-align: right;
}

.Program__timelineIcon {
  margin: 0 var(--sp-3);
}

.Program__timelineEvent {
  width: 200px;
  text-align: left;
}
