---
const {title} = Astro.props;
---
<html>
  <head>
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/reset.css')} />
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <slot />
  </body>
</html>